absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albucore==0.0.2
albumentations==1.3.1
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
av==17.0.0
beautifulsoup4==4.14.3
blake3==1.0.8
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
color-matcher==0.6.0
colour-science==0.4.6
comfy-aimdo==0.2.12
comfy-kitchen==0.2.8
comfyui-embedded-docs==0.4.3
comfyui-workflow-templates-core==0.3.200
comfyui-workflow-templates-media-api==0.3.69
comfyui-workflow-templates-media-image==0.3.121
comfyui-workflow-templates-media-other==0.3.171
comfyui-workflow-templates-media-video==0.3.77
comfyui_frontend_package==1.42.10
comfyui_workflow_templates==0.9.50
contourpy==1.3.3
cycler==0.12.1
ddt==1.7.2
docutils==0.22.4
easydict==1.13
einops==0.8.2
filelock==3.25.2
flatbuffers==25.12.19
flet==0.84.0
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.3.0
gdown==6.0.0
glfw==2.10.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.10.2
idna==3.11
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
kornia==0.8.2
kornia_rs==0.1.10
lazy-loader==0.5
llvmlite==0.47.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.13
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
mss==10.1.0
multidict==6.7.1
networkx==3.6.1
numba==0.65.0
numpy==1.26.4
oauthlib==3.3.1
onnx==1.21.0
onnx2torch==1.5.15
opencv-contrib-python==4.11.0.86
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt_einsum==3.4.0
packaging==26.0
pillow==12.2.0
pixeloe==0.1.4
platformdirs==4.9.6
pooch==1.9.0
propcache==0.4.1
protobuf==4.25.9
psutil==7.2.2
pycparser==3.0
pydantic==2.13.0
pydantic-settings==2.13.1
pydantic_core==2.46.0
Pygments==2.20.0
pykalman==0.11.2
PyMatting==1.1.15
PyOpenGL==3.1.10
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
qudida==0.0.4
referencing==0.37.0
regex==2026.4.4
rembg==2.0.69
repath==0.9.0
requests==2.33.1
rich==15.0.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-base==0.13.2
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
sentencepiece==0.2.1
setuptools==81.0.0
shellingham==1.5.4
simpleeval==1.0.7
six==1.17.0
sounddevice==0.5.5
soupsieve==2.8.3
spandrel==0.4.2
SQLAlchemy==2.0.49
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2026.3.3
timm==1.0.26
tokenizers==0.22.2
tomli==2.4.1
torchsde==0.2.6
tqdm==4.67.3
trampoline==0.1.2
transformers==5.5.4
transparent-background==1.3.2
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
wget==3.2
yarl==1.23.0
